{% extends "layout.html" %}

{%- block css -%}
<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" />
{%- endblock css -%}

{%- block content -%}
<form method="post" enctype="application/x-www-form-urlencoded" role="form" onsubmit="submitSearchForm();" novalidate>
    <div class="motion-fade-in motion-delay--250 motion-speed--medium">
        <div class="text-center base-margin-top base-margin-bottom">
            <h2 class="h2 text-size-48">Cisco Products</h2>
            <p class="text-small text-muted">Some Products might not work until some fixes are done from Cisco's
                side. <a
                    href="https://community.cisco.com/t5/services-discussions/psirt-openvuln-api-pagination-issue/m-p/4774291/highlight/true#M946"
                    target="_blank" rel="noreferrer noopener">See
                    why?</a>
            </p>
        </div>
        <div class="form-group qtr-margin-bottom">
            <div class="form-group__text select">
                <label for="product">Choose a Product
                    <span data-balloon="{{ form.product.choices|length }} available Cisco products"
                        data-balloon-pos="right">
                        <span class="icon-info-outline"></span>
                    </span>
                </label>
                {{ form.product }}
            </div>
        </div>
        <div class="text-center base-margin-top">
            <button type="submit" class="btn btn--primary" id="search" name="search">
                <span class="icon-search"></span> Search
            </button>
        </div>
        <div class="fixed-bottom opacity-90">
            <p class="bg-tertiary text-xsmall text-white base-padding">Cisco reserves the right to remove
                End-of-Support products from the Cisco Products Listing (subsequently reflected in this
                application)</p>
        </div>
    </div>
</form>
{%- endblock content -%}

{%- block javascript -%}
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>
<script type="text/javascript">$(document).ready(function () {$('#product').select2()})</script>
{%- endblock javascript -%}