<p class="text-uppercase text-small text-break">LEGAL DISCLAIMER THIS DOCUMENT IS PROVIDED ON AN "AS IS" BASIS AND DOES
    NOT IMPLY ANY KIND OF GUARANTEE OR WARRANTY, INCLUDING THE WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
    PARTICULAR USE. YOUR USE OF THE INFORMATION ON THE DOCUMENT OR MATERIALS LINKED FROM THE DOCUMENT IS AT YOUR
    OWN RISK. CISCO RESERVES THE RIGHT TO CHANGE OR UPDATE THIS DOCUMENT AT ANY TIME.</p>
<p class="text-xsmall text-break no-margin-bottom">A standalone copy or paraphrase of the text of this document that
    omits the distribution URL is an uncontrolled copy and may lack important information or contain factual errors. The
    information in this document is intended for end users of Cisco products.</p>