<nav class="header" id="styleguideheader" role="navigation">
    <div class="container">
        <div class="header-panels">
            <div class="header-panel">
                <div class="header__logo">
                    <span class="icon-cisco"></span>
                </div>
                <h1 class="header__title">
                    <span class="h3">PSIRT</span>
                </h1>
            </div>
            <div class="header-panel header-panel--right">
                <a href="https://developer.cisco.com/docs/psirt/#!api-reference" class="header-item text-small"
                    target="_blank" rel="noopener noreferrer"><span class="icon-cisco qtr-padding-right"></span>
                    DevNet <span class="icon-jump-out icon-size-12 qtr-padding-left"></span></a>
            </div>
        </div>
    </div>
</nav>