{%- set active_page = active_page|default('main.index') -%}
{%- set navigation_bar = [('main.index', 'Home', 'home'), ('cves.cve', 'CVE ID', 'bug'), ('bugs.bug', 'Cisco Bug ID', 'bug'), ('oses.os', 'OS-Version', 'software'), ('products.product', 'Products', 'cisco'), ('main.about', 'About', 'help-outline')] -%}
<aside id="sidebar" class="col-2 col-lg-3 col-xl-2 sidebar sidebar--tertiary dbl-margin-top dbl-padding-top"
    role="navigation">
    <ul id="rootSidebar">
        {%- for endpoint, caption, icon in navigation_bar -%}
        <li class="sidebar__item {% if request.endpoint == endpoint -%}sidebar__item--selected{%- endif -%}">
            <a href="{{ url_for(endpoint|e) }}" title="{{ caption|e }}" tabindex="{{ loop.index }}">
                <span class="icon-{{ icon }}"></span>
                <span>{{ caption|e }}</span>
            </a>
        </li>
        {%- endfor -%}
    </ul>
</aside>