{% macro render_pagination(pagination, start, end, total_count, prev_url, next_url) %}
<div class="text-muted">
    {%- if pagination.prev != "NA" -%}
    <a class="opacity-70 text-muted pagination-nav {% if pagination.prev == 'NA' -%}disabled{% endif %}"
        href="{% if pagination.prev == 'NA' -%}{{ prev_url }}{% else %}javascript:{% endif %}" title="Previous page"
        {% if pagination.prev == "NA" -%}disabled {% endif %}>
        <span class="icon-step-prev"></span>
    </a>
    {%- endif -%}
    <small class="opacity-70 text-muted qtr-margin-left qtr-padding-right">Showing {{ start }} &mdash; {{ end }}
        of total {{ total_count }}
        advisories ({{ tnp }} pages)</small>
    {%- if pagination.next != "NA" -%}
    <a class="opacity-70 text-muted pagination-nav {% if pagination.next == 'NA' -%}disabled {% endif %}"
        href="{% if pagination.next != 'NA' %}{{ next_url }}{% endif %}" title="Next page"
        {% if pagination.next == "NA" -%}disabled {% endif %}>
        <span class="icon-step-next"></span>
    </a>
    {%- endif -%}
</div>
{% endmacro  %}

{% macro render_prev_next(prev_url, next_url, first_url, last_url) %}
<ul class="pagination pagination--rounded max-width justify-content-center base-margin-bottom">
    <li {% if pagination.prev == "NA" -%} class="disabled" disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ first_url|replace(' ', '+') }}" title="First page">First</a>
    </li>
    <li {% if pagination.prev == "NA" -%} class="disabled" disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ prev_url|replace(' ', '+') }}" title="Previous page">Previous</a>
    </li>
    <li {% if pagination.next == "NA" -%} class="disabled" disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ next_url|replace(' ', '+') }}" title="Next page">Next</a>
    </li>
    <li {% if pagination.next == "NA" -%} class="disabled" disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ last_url|replace(' ', '+') }}" title="Last page">Last</a>
    </li>
</ul>
{% endmacro %}

{% macro with_errors(field) %}
{%- if field.errors -%}
{%- for error in field.errors -%}
<span class="form-group__help text-danger" role="alert" tabindex="-1">
    <span class="icon-error-outline"></span><span>{{ error }}</span>
</span>
{%- endfor -%}
{%- endif -%}
{% endmacro %}