{% macro render_pagination(pagination, start, end, total_count) %}
<div class="text-muted">
    {%- if pagination.prev != "NA" -%}
    <a class="text-muted opacity-70 pagination-nav" {% if pagination.prev == "NA" -%}disabled {% else %}
        href="{{ pagination.prev|replace(' ', '+') }}{% if varargs[0] and varargs[1] %}&startDate={{ varargs[0] }}&endDate={{ varargs[1] }}{% endif %}"
        {%- endif %} title="Prev">
        <span class="icon-step-prev"></span>
    </a>
    {%- endif -%}
    <small class="text-muted opacity-70 qtr-margin-left qtr-padding-right">Showing {{ start }} &mdash; {{ end }}
        of total {{ total_count }}
        advisories ({{ tnp }} pages)</small>
    {%- if pagination.next != "NA" -%}
    <a class="text-muted opacity-70 pagination-nav" {% if pagination.next == "NA" -%}disabled {% else %}
        href="{{ pagination.next|replace(' ', '+') }}{% if varargs[0] and end_date %}&startDate={{ varargs[0] }}&endDate={{ varargs[1] }}{% endif %}"
        {%- endif %} title="Next">
        <span class="icon-step-next"></span>
    </a>
    {%- endif -%}
</div>
{% endmacro  %}

{% macro render_next_prev(pagination) %}
<ul class="pagination max-width justify-content-center base-margin-bottom">
    <li {% if pagination.prev == "NA" -%}disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ pagination.prev|replace(' ', '+') }}{% if varargs[0] and varargs[1] %}&startDate={{ varargs[0] }}&endDate={{ varargs[1] }}{% endif %}"
            title="Prev">Previous</a>
    </li>
    <li {% if pagination.next == "NA" -%}disabled{%- else -%}class="active" {%- endif -%}>
        <a href="{{ pagination.next|replace(' ', '+') }}{% if varargs[0] and varargs[1] %}&startDate={{ varargs[0] }}&endDate={{ varargs[1] }}{% endif %}"
            title="Next">Next</a>
    </li>
</ul>
{% endmacro %}

{% macro with_errors(field) %}
{%- if field.errors -%}
{%- for error in field.errors -%}
<div class="form-group__help text-danger" role="alert" tabindex="-1">
    <span class="icon-error-outline"></span><span>{{ error }}</span>
</div>
{%- endfor -%}
{%- endif -%}
{% endmacro %}