@charset "UTF-8";

.summary {
    word-break: break-word !important;
}

#search:disabled,
li.disabled {
    cursor: not-allowed;
    pointer-events: all !important
}

.label--dark {
    vertical-align: text-bottom
}

.page-link>span.sr-only {
    display: none
}

#select2-product-results,
.select2-container--default .select2-selection--single {
    font-weight: var(--cui-form-value-font-weight);
    color: var(--cui-form-value-color)
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    background-color: transparent;
    border: var(--cui-border)
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none
}

.select2-selection--single {
    height: var(--cui-form-size) !important;
    max-height: var(--cui-form-size)
}

#select2-product-container {
    line-height: 3.4rem
}

.select2-search__field:focus-visible,
.select2-selection.select2-selection--single:focus-visible {
    box-shadow: 0 0 0 var(--cui-focus-thickness) rgba(var(--cui-focus-color), var(--cui-focus-opacity));
    opacity: 1;
    outline: transparent var(--cui-focus-thickness);
    outline-offset: 1px;
    outline-width: thin;
    outline-style: none
}

#select2-product-results {
    padding-left: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown.select2-dropdown--below {
    background-color: var(--cui-color-gray-200);
    border: var(--cui-border-thickness) solid var(--cui-border-color);
    border-radius: 0
}