{% extends "layout.html" %}

{% block content %}
<form method="post" enctype="application/x-www-form-urlencoded" role="form" onsubmit="submitSearchForm();" novalidate>
    {{ form.csrf_token }}
    <div class="motion-fade-in motion-delay--250 motion-speed--medium">
        <h2 class="h2 text-center text-size-48 base-margin-top base-margin-bottom">{{ title }}</h2>
        <div class="form-group qtr-margin-bottom {% if form.cve_id.errors %}form-group--error{% endif %}">
            <div class="form-group__text">
                {{ form.cve_id }}
            </div>
            {{ with_errors(form.cve_id) }}
        </div>
        <div class="text-center base-margin-bottom base-margin-top">
            {{ search_btn(form.search) }}
        </div>
        <p>Examples: <span class="label label--tertiary label--small">CVE-2022-20906</span> or <span
                class="label label--tertiary label--small">CVE-2022-20874</span></p>
    </div>
</form>
{% endblock content %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
{% endblock javascript %}