{% extends "layout.html" %}

{%- block content -%}
<form method="post" enctype="application/x-www-form-urlencoded" role="form" onsubmit="submitSearchForm();" novalidate>
    {{ form.csrf_token }}
    <div class="motion-fade-in motion-delay--250 motion-speed--medium">
        <h2 class="h2 text-center text-size-48 base-margin-top base-margin-bottom">OS &mdash; Version</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12 half-margin-bottom">
                <div class="form-group {% if form.os_type.errors -%}form-group--error{%- endif -%}">
                    <div class="form-group__text select">
                        {{ form.os_type }}
                        {{ form.os_type.label }}
                    </div>
                    {{ with_errors(form.os_type) }}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 half-margin-bottom">
                <div class="form-group {% if form.version.errors -%}form-group--error{%- endif -%}">
                    <div class="form-group__text">
                        {{ form.version }}
                        {{ form.version.label }}
                    </div>
                    {{ with_errors(form.version) }}
                </div>
            </div>
        </div>
        <div class="text-center base-margin-bottom base-margin-top">
            {{ search_btn(form.search) }}
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="h2">Examples</h2>
            </div>
            <div class="col-6">
                <p class="no-margin-bottom">IOS <span class="label label--tertiary label--small">15.9(3)M2</span></p>
                <p class="no-margin-bottom">IOS-XE <span class="label label--tertiary label--small">17.3.5</span></p>
                <p class="no-margin-bottom">NX-OS <span class="label label--tertiary label--small">9.3(10)</span>
                </p>
                <p class="no-margin-bottom">NX-OS (in ACI mode) <span
                        class="label label--tertiary label--small">14.2(7s)</span></p>
            </div>
            <div class="col-6">
                <p class="no-margin-bottom">ASA <span class="label label--tertiary label--small">9.16.1</span>
                </p>
                <p class="no-margin-bottom">FTD <span class="label label--tertiary label--small">7.1.0</span>
                </p>
                <p class="no-margin-bottom">FMC <span class="label label--tertiary label--small">7.1.0</span>
                </p>
                <p class="no-margin-bottom">FXOS <span class="label label--tertiary label--small">2.8.1.164</span></p>
            </div>
        </div>
        <div class="fixed-bottom opacity-90">
            <p class="bg-tertiary text-xsmall text-white base-padding">Cisco reserves the right to remove
                End-of-Support releases from the Cisco Software Checker (subsequently reflected in this
                application)</p>
        </div>
    </div>
</form>
{%- endblock content -%}

{%- block javascript -%}
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
{%- endblock javascript -%}