{% extends "layout.html" %}

{%- block jshead -%}
<script src="{{ url_for('main.static', filename='scrollreveal.min.js') }}"></script>
{%- endblock jshead -%}

{%- set search_forms = [
    ('CVE ID', 'Get advisory by a CVE ID', 'cves.cve'), 
    ('Cisco Bug ID', 'Get advisory by a Cisco Bug ID', 'bugs.bug'),
    ('OS-Version', 'Get list of advisories by searching an OS type &amp; its Version', 'oses.os'), 
    ('Date Range', 'Get list of advisories by a date range sorted by first or last published', 'dates.dates_range'), 
    ('Cisco Products', 'Get list of advisories for a specific Cisco product', 'products.product'), 
] 
-%}

{%- block content -%}
<div class="row">
    <div class="col-12">
        <div id="hero" role="banner">
            <h1 class="h1">PSI</h1>
            <blockquote class="lead blockquote blockquote--primary">
                Using a set of search forms, you can get all information of a CVE by its ID, or even get all CVEs of not
                only IOS and IOS-XE, both NX-OS and NX-OS in ACI mode, but also ASA, FTD, FMC, and FXOS. You can also
                search for security advisories for a specific Cisco Product.
            </blockquote>
        </div>
    </div>
</div>

<div class="grid grid--col-md-5 grid--spacing-half" style="grid-template-rows:none;">
    {% for title, description, uri in search_forms -%}
    <div class="flex flex-column text-white bg-tertiary base-padding" id="panel">
        <h4 class="h4 text-center">{{ title }}</h4>
        <p class="half-padding-top half-padding-bottom" style="margin-top:auto;margin-bottom:auto;">
            {{ description|safe }}
        </p>
        <div class="text-center" style="margin-top:auto;">
            <a href="{{ url_for(uri) }}" class="btn btn--secondary btn--justified text-white" title="{{ title }}">
                Form <span class="icon-small icon-search"></span>
            </a>
        </div>
    </div>
    {%- endfor %}
</div>
{%- endblock content -%}

{%- block javascript -%}
<script src=" {{ url_for('main.static', filename='scroll.min.js') }}"></script>
{%- endblock javascript -%}