{% extends "layout.html" %}

{%- block content -%}
<div class="text-center">
    <span class="icon-warning-outline icon-size-64 text-danger"></span>
    <h1 class="h1 text-danger base-margin-top">{{ e.code }} &mdash; Page Not Found</h1>
    <p class="lead">The requested URL was not found on the server. If you entered the URL
        manually please check any typos and try again.</p>
    <a class="btn btn--ghost" href="{{ url_for('main.index') }}" title="Home">
        <span class="icon-arrow-left-tail"></span> Home
    </a>
</div>
{%- endblock content -%}