{% extends "layout.html" %}

{%- block content -%}
<div class="text-center">
    <span class="icon-warning-outline icon-size-64 text-danger"></span>
    <h1 class="h1 text-danger base-margin-top">{{ e.code }} &mdash; Too Many Requests</h1>
    <p class="lead">PSI has reached its rate limit policy of {{ e.description }} requests! Please don't breach this
        policy.</p>
    <a class="btn btn--ghost" href="{{ url_for('main.index') }}" title="Home">
        <span class="icon-arrow-left-tail"></span> Home
    </a>
</div>
{%- endblock content -%}